NODE_ENV="development"
SECRET=""
MONGODB_CONNECTION_STRING="mongodb://localhost:27017/output"
MONGODB_CENTRAL_CONNECTION_STRING = "mongodb://localhost:27017/input"
REDIS_HOST= "172.17.0.2"
REDIS_PORT= 6379
REDIS_PASS = "pass"
API_URL= "https://localhost:3000/api"
ENABLE_GRAFANA_LOGS=no
GRAFANA_APP_LABEL="FlightRates-Faretrack-Bridge-App_Local"
GRAFANA_HOST="https://logs-prod-006.grafana.net"
GRAFANA_USER="714876"
GRAFANA_PASS="glc_eyJvIjoiOTY0MjgxIiwibiI6InN0YWNrLTc2MTg3Ni1obC1yZWFkLW5ld3Rva2VuIiwiayI6InRtQjNkdms5OUlyMnkzN2U1NU54ajVoNSIsIm0iOnsiciI6InByb2QtdXMtZWFzdC0wIn19"