NODE_ENV="development"
SECRET=""
MONGODB_CONNECTION_STRING="mongodb://localhost:27017/output"
MONGODB_CENTRAL_CONNECTION_STRING = "mongodb://localhost:27017/input"
REDIS_CONNECTION_STRING="redis://username:1234@localhost:637"
